:root {
  --background: #121212;
  --primary: #ffffff;
  --secondary: rgba(255, 255, 255, 0.7);
}

body {
  background-color: var(--background);
  width: 180px;
}

p {
  color: var(--primary);
}

#success_msg {
  color: aquamarine;
  display: none;
  width: 100%;
  justify-content: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}
